# vim: ft=sshconfig
# usage:
#   1. install cloudflared
#   2. install keepassxc which manages ssh private keys
#   3. Add following two lines to ~/.ssh/config
#       Match all # Need this to make sure following configs aren't treat as conditional include (nested into any Host/Match above)
#       Include "genzj.ssh.config"

Host jumper.genzj.info
    User proxy
    ServerAliveInterval 120
    # ProxyJump None
    ProxyCommand /opt/homebrew/bin/cloudflared access ssh --hostname %h

Host docker.genzj.info share.genzj.info j.genzj.info monitor.genzj.info pve.genzj.info photo.genzj.info dav.genzj.info 192.168.1.*
    User genzj
    ServerAliveInterval 120
    # ProxyJump proxy@jumper.genzj.info
    ProxyCommand ~/.ssh/.ssh-jumper.sh %h %p

Host *.genzj.info
    PubkeyAcceptedKeyTypes +ssh-rsa
    ServerAliveInterval 120
    User genzj

