{{- if (or .attribute.is_cloud_desktop .attribute.is_vm) }}
# cloud desktops don't install kitty
.config/kitty/
{{- end }}

{{- if .tool.zsh.use_zim }}
.zshrc-post-omz
.p10k.zsh
{{- else }}
.zshrc
20-install-zim.zsh
{{- end }}

{{- if not .attribute.is_encryption_ready }}
# don't want to install chatGPT token if no encryption file exists
.config/.czrc
{{- end }}

{{- if (ne .chezmoi.os "darwin" ) }}
# ssh jumper only works with MacOS now
.ssh/genzj.ssh.config
Library/
{{- end }}

{{ if (not (lookPath "ibus-daemon")) }}
# ignore rime config if ibus isn't installed
.config/ibus/rime
{{- end }}
