[data.font]
{{ if eq .chezmoi.os "darwin" }}
monospace = "MonaspiceNe Nerd Font Mono Regular"
{{ else }}
# Github Monaspace Font Families:
#   By default they are not supported in kitty due to lacking of the spacing prop.
#   Hack by adding ~/.config/fontconfig/fonts.conf with following content:
#     <match target="scan">
#        <test compare="contains" name="family">
#           <string>Monaspace</string>
#        </test>
#        <edit name="spacing">
#           <int>100</int>
#        </edit>
#        <edit name="scalable">
#           <bool>true</bool>
#        </edit>
#        <edit name="outline">
#           <bool>true</bool>
#        </edit>
#     </match>
#   Ref: https://github.com/kovidgoyal/kitty/issues/97#issuecomment-579094656
#
monospace = "Monaspace Neon Regular"
{{ end }}

size = 12

[data.proxy]
enabled = false
http_proxy = "127.0.0.1:8123"
socks5_proxy = "127.0.0.1:1080"

[data.attribute]
{{ if (and (eq .chezmoi.username "zhuje") (ne .chezmoi.os "darwin" )) }}
is_cloud_desktop = true
{{ else }}
is_cloud_desktop = false
{{ end }}
