[".tmux-myconf"]
    type = "git-repo"
    url = "https://github.com/genzj/tmux-myconf.git"
    refreshPeriod = "24h"
    [".tmux-myconf".pull]
        args = ["--ff-only"]

[".tmux/plugins/tpm"]
    type = "git-repo"
    url = "https://github.com/tmux-plugins/tpm.git"
    refreshPeriod = "168h"

[".config/omf"]
    type = "git-repo"
    url = "https://github.com/genzj/my-omf-config.git"
    refreshPeriod = "24h"
    [".config/omf".pull]
        args = ["--ff-only"]

{{- if and .attribute.is_amzn .tool.zsh.use_zim }}
["zim-amzn-dev"]
    type = "git-repo"
    url = "ssh://git.amazon.com/pkg/ZimAmznDev"
    refreshPeriod = "24h"
{{- end }}

{{- if (eq .chezmoi.os "darwin" ) }}
["Library/Rime"]
    type = "archive"  # use archive instead of git to manage default.custom.yaml file in it
    url = "https://github.com/gaboolic/rime-frost/archive/refs/heads/master.zip"
    format = "zip"
    stripComponents = 1
    refreshPeriod = "168h"
{{- end }}

{{ if lookPath "ibus-daemon" }}
[".config/ibus/rime"]
    type = "archive"  # use archive instead of git to manage default.custom.yaml file in it
    url = "https://github.com/gaboolic/rime-frost/archive/refs/heads/master.zip"
    format = "zip"
    stripComponents = 1
    refreshPeriod = "168h"
{{- end }}
