# vim: ft=gitconfig
[alias]
	br = branch
	ci = commit
	co = checkout
	dag = log --graph --format='format:%C(yellow)%h%C(reset) %C(blue)\"%an\" <%ae>%C(reset) %C(magenta)%cr%C(reset)%C(auto)%d%C(reset)%n%s' --date-order
	diffcache = diff --cached
	ffmerge = merge --ff-only
	ffpull = pull --ff-only
	ignore = "!gi() { curl -sL https://www.toptal.com/developers/gitignore/api/$@ ;}; gi"
	logdiff = log -p
	loglast = log -1
	st = status
	whatadded = log --diff-filter=A
[color]
	ui = auto
[core]
	autocrlf = input
	eol = lf
	excludesfile = $HOME/.gitignore-global
	pager = less -FMRiX
[credential]
{{- if eq .chezmoi.os "darwin" }}
	helper = /usr/local/share/gcm-core/git-credential-manager
{{- else }}
	helper = store
{{- end }}
{{- if (and (eq .chezmoi.os "linux") (not .attribute.is_cloud_desktop) ) }}
[credential "https://github.com"]
    helper = cache
    helper = github
{{- end }}
[credential "https://git-codecommit.us-west-2.amazonaws.com"]
	provider = generic
[credential "https://dev.azure.com"]
	useHttpPath = true
[diff]
	tool = bc3
[difftool]
	bc3 = trustExitCode
{{- if eq .chezmoi.os "linux" }}
[difftool "bc3"]
	path = /usr/bin/bcompare
{{- end }}
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[http]
{{- if .proxy.enabled  }}
    proxy = {{ .proxy.http_proxy }}
{{- end }}
[init]
	defaultBranch = main
[merge]
	tool = bc3
[mergetool]
	bc3 = trustExitCode
{{- if eq .chezmoi.os "linux" }}
[mergetool "bc3"]
	path = /usr/bin/bcompare
{{- end }}
[pull]
	ff = only
[push]
	default = simple
[user]
{{- if eq .chezmoi.username "zhuje" }}
	email = zhuje@amazon.com
	name = Jie Zhu
{{ else }}
	email = zj0512@gmail.com
	name = genzj
{{ end -}}

[include]
	path = ~/.gitconfig.host
