[user]
{{- if eq .chezmoi.username "zhuje" }}
	email = zhuje@amazon.com
	name = Jie Zhu
{{ else }}
	email = zj0512@gmail.com
	name = genzj
{{ end -}}
[color]
	ui = auto
[core]
	pager = less -FMRiX
	excludesfile = $HOME/.gitignore-global
[push]
	default = simple
[alias]
	dag = log --graph --format='format:%C(yellow)%h%C(reset) %C(blue)\"%an\" <%ae>%C(reset) %C(magenta)%cr%C(reset)%C(auto)%d%C(reset)%n%s' --date-order
	st = status
	br = branch
	ci = commit
	co = checkout
	diffcache = diff --cached
	loglast = log -1
	logdiff = log -p
	ffmerge = merge --ff-only
	ffpull = pull --ff-only
	ignore = "!gi() { curl -sL https://www.toptal.com/developers/gitignore/api/$@ ;}; gi"
	whatadded = log --diff-filter=A
[pull]
	ff = only
[credential]
{{- if eq .chezmoi.os "darwin" }}
	helper = osxkeychain
{{ end -}}
[diff]
	tool = bc3
[merge]
	tool = bc3
[init]
	defaultBranch = main
