#!/bin/zsh

set -x

/usr/bin/env | sort

# Ensure tool bin dir (((
mkdir -p "$HOME/.local/bin"
# )))

# Install mise (((
() {
    (( ${+commands[mise]} )) && return 0
    curl https://mise.run | sh
}
# )))

{{ if .attribute.is_cloud_desktop -}}
# override old versions provided by os
mise use -g cmake tmux

# install some tools from source because cloud desktop is using obsoleted GLIBC
mise use -g cargo:usage-cli
mise use -g asdf:richin13/asdf-neovim@ref:v0.10.4
{{- end }}

mise use -g bat fd lsd ripgrep zoxide

# Install fd (((
() {
    (( ${+commands[fd]} )) && return 0
    if (( ${+commands[fdfind]} )) ; then
        [[ -e "$HOME/.local/bin/fd" ]] || ln -s "${commands[fdfind]}" "$HOME/.local/bin/fd"
        return 0
    fi
    "${CHEZMOI_SOURCE_DIR}/../scripts/fd-install.sh" --bin-dir ~/.local/bin
}
# )))

# Install bat (((
() {
    (( ${+commands[bat]} )) && return 0
    if (( ${+commands[batcat]} )) ; then
        [[ -e "$HOME/.local/bin/bat" ]] || ln -s "${commands[batcat]}" "$HOME/.local/bin/bat"
        return 0
    fi
    "${CHEZMOI_SOURCE_DIR}/../scripts/bat-install.sh" --bin-dir ~/.local/bin
}
# )))

# Install ripgrep (((
() {
    (( ${+commands[rg]} )) && return 0
    "${CHEZMOI_SOURCE_DIR}/../scripts/ripgrep-install.sh" --bin-dir ~/.local/bin
}
# )))

# vim: set foldenable foldmethod=marker foldlevel=0 foldmarker=(((,))):
